<div>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<style>
* {box-sizing: border-box;}

.container {
  position: relative;
  width: 50%;
  max-width: 800px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 1, 10, 0.5); /* Black see-through */
  color: green; 
  width: 100%;
  transition: .1s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 10;
}
</style>
</head>

<div class="container">
  <div class="row">
    <div class="col-sm" width="auto">
      
	  
	  <div class="container">
  <img src="http://saivpds.pravorg.ru/files/2018/08/first.jpg" class="image" style="height: 292.5px; width: auto"/>
  <span class="" style="font-family: 'Open Sans Condensed', sans-serif; top: 100px; position: absolute; border: 1px solid #000; color: white; background: #e0e0e0;">ПОДГОТОВКА СВЯЩЕННОСЛУЖИТЕЛЕЙ</span>
  
  <div class="overlay">
  
<ul style="margin-top: 90px; font-family: 'PT Sans', sans-serif;">

<li style="margin-bottom: 5px;">
<a href="/about#tab=_tab:news_vak~">
<span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-top: 3px;"></span>Дневное отделение</a>
</li>
<li style="margin-bottom: 5px;">
												
<a href="/about#tab=_tab:polojenie~">							
<span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-top: 3px;"></span>Заочное отделение</a>
</li>

</ul>



  
  </div>
</div>
	  
	  
    </div>
    <div class="col-md">
      <div class="container">
  <img src="http://saivpds.pravorg.ru/files/2018/08/first.jpg" class="image" style="height: 292.5px; width: auto"/>
  <span class="" style="font-family: 'Open Sans Condensed', sans-serif; top: 100px; position: absolute; border: 1px solid #000; color: white; background: #e0e0e0;">ПОДГОТОВКА СВЯЩЕННОСЛУЖИТЕЛЕЙ</span>
  
  <div class="overlay">
  
<ul style="margin-top: 90px; font-family: 'PT Sans', sans-serif;">

<li style="margin-bottom: 5px;">
<a href="/about#tab=_tab:news_vak~">
<span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-top: 3px;"></span>отделение</a>
</li>
<li style="margin-bottom: 5px;">
												
<a href="/about#tab=_tab:polojenie~">							
<span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-top: 3px;"></span>Заочное </a>
</li>

</ul>



  
  </div>
</div>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>






<div class="container">
  <div class="row">
    <div class="col-sm">


<div class="container">
  <img src="http://saivpds.pravorg.ru/files/2018/08/first.jpg" class="image" style="height: 292.5px; width: auto"/>
  <span class="" style="font-family: 'Open Sans Condensed', sans-serif; top: 100px; position: absolute; border: 1px solid #000; color: white; background: #e0e0e0;">ПОДГОТОВКА СВЯЩЕННОСЛУЖИТЕЛЕЙ</span>
  
  <div class="overlay">
  
<ul style="margin-top: 90px; font-family: 'PT Sans', sans-serif;">

<li style="margin-bottom: 5px;">
<a href="/about#tab=_tab:news_vak~">
<span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-top: 3px;"></span>Дневное отделение</a>
</li>
<li style="margin-bottom: 5px;">
												
<a href="/about#tab=_tab:polojenie~">							
<span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-top: 3px;"></span>Заочное отделение</a>
</li>

</ul>



  
  </div>
</div>

</div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">


<div class="container">
  <img src="http://saivpds.pravorg.ru/files/2018/08/first.jpg" class="image" style="height: 292.5px; width: auto"/>
  <span class="" style="font-family: 'Open Sans Condensed', sans-serif; top: 100px; position: absolute; border: 1px solid #000; color: white; background: #e0e0e0;">ПОДГОТОВКА СВЯЩЕННОСЛУЖИТЕЛЕЙ</span>
  
  <div class="overlay">
  
<ul style="margin-top: 90px; font-family: 'PT Sans', sans-serif;">

<li style="margin-bottom: 5px;">
<a href="/about#tab=_tab:news_vak~">
<span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-top: 3px;"></span>Дневное отделение</a>
</li>
<li style="margin-bottom: 5px;">
												
<a href="/about#tab=_tab:polojenie~">							
<span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-top: 3px;"></span>Заочное отделение</a>
</li>

</ul>



  
  </div>
</div>

</div>
</div>
</div>










</div>
