<ul class="navbar-nav mr-auto" >
    <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Формы для заполнения
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="http://dbx.iro37.ru/zapolnititul/v/forms?path=http://iro37.ru/xqwiki/images/0/03/%D0%A8%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD_%D1%81%D0%BB%D1%83%D0%B6%D0%B5%D0%B1%D0%BD%D0%BE%D0%B5_%D0%BF%D0%B8%D1%81%D1%8C%D0%BC%D0%BE_%D0%A3%D0%9D%D0%9E%D0%98.docx" target = "_blank">Служебное письмо</a>
           <a class="dropdown-item" href="http://dbx.iro37.ru/zapolnititul/v/forms?path=http://iro37.ru/xqwiki/images/b/b4/%D0%A8%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD_%D0%BF%D1%80%D0%B8%D0%BA%D0%B0%D0%B7_%D0%A3%D0%9D%D0%9E%D0%98.docx" target = "_blank">ПРИКАЗ</a>
        </div>
    </li>
    <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Отчеты
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="/saivpds/t/reports/konduit">Пропуски</a>
           <a class="dropdown-item" href="/saivpds/t/отчеты/календарный-план">Календарный план</a>
        </div>
    </li>
</ul>
